* {
    padding: 0px;
    margin: 0px;
}
#header{
    margin:auto;
    width:500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.contenedor {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.contenedor .menu {
    width: 100%;
}

.contenedor ul {
    list-style: none;
}

.contenedor .menu li a {
    color: #494949;
    display: block;
    padding: 10px 15px;
    background: #e9e9e9;
}

.contenedor .menu li a:hover {
    background: #1a95d5;
    color: #fff;
}

.contenedor .menu ul {
   display: none;
   
}

.contenedor .menu ul li a {
    background: #8b7f7f;
    color: #e9e9e9;
 }

 .contenedor .menu .activado > a {
    background: #1a95d5;
    color: #e9e9e9;
 }

 .contenedor .menu li:hover > ul {
    display: block;
 }

 .header {
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 7, 7);
    color:#e9e9e9;
    padding: 10px 15px;
    flex: 1 1 70%;
    border: 1px solid black;
    
 }

 .main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(50, 178, 201);
    padding: 10px 15px;
    flex: 1 1 70%;
    border: 1px solid black;
    
 }

 .main .articulos {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: none;
    
 }

 .main .articulos:nth-child(1) {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
    
 }